.main {
    padding: 6px 6px;
    border: 1px solid black;
  }
  .name {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 6px;
  }
  .left {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 120px;
  }
  .left img {
    width: 100px;
    border-radius: 50px;
  }
  .left a {
    margin: auto;
  }
  .left-right {
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  .right{
      border: 1px solid black;
      margin: 6px 6px;
      border-radius: 20px;
  }
 .personal-text{
    width: 500px;
 }
.right img{
    width: 200px;
    margin-top: 5px;
    margin-left:5px;
}
.right-up{
    display: flex;
}
.pre{
    font-size: 20px;
    margin-left: 10px;
}
.right h2,p{
    margin-left: 10px;
}